.product-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 3px;
    background-color: #fff;
  }
  
  .quantity-input {
    width: 60px;
  }
  
  .table th, .table td {
    vertical-align: middle;
  }
  
  .btn-success {
    transition: all 0.3s ease-in-out;
  }
  
  .btn-success:hover {
    background-color: #218838;
    transform: scale(1.05);
  }
  