
<nav class="navbar">
  
    <!-- Center: Navigation Buttons -->
    <div class="nav-links">
      <button class="nav-btn" routerLink="/adminaddproduct" [routerLinkActive]="'active'">
        <i class="fa fa-home"></i> ProductAdd
      </button>
      <button class="nav-btn" routerLink="/adminproductremove" [routerLinkActive]="'active'">
        <i class="fa fa-heart"></i> ProductRemove
      </button>
      <button class="nav-btn" routerLink="/addbag" [routerLinkActive]="'active'">
        <i class="fa fa-shopping-bag"></i> ProductModify
      </button>
    </div>
    
  
    <!-- Right: Profile Section -->
    <div class="profile-section">
      <span class="username fw-bold">{{ adminname }}</span>
      <img class="profile-pic" src="assets/joy.png" (click)="toggleProfileMenu()">
  
      <!-- Dropdown Menu -->
      <div class="profile-dropdown fw-bold " *ngIf="showProfileMenu">
        <p class="username">{{ adminname }}</p>
        <hr />
        <button><i class="fa fa-box"></i> Orders Details</button>
        <button (click)="logout()"><i class="fa fa-sign-out"></i> Logout</button>
      </div>
    </div>
  </nav>
  

  